.about {
	overflow: hidden;
	position: relative;
}

.about__text {
	max-width: none;
}

.about__img-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}

.about__img {
	max-width: 300px;
	margin: auto;
}