.contact {
	overflow: hidden;
	background-color: $seashell;
}

.contact__text {
	max-width: none;
}

.contact__list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 200px 0;
}

.contact__item {
	margin: 0 20px;
}

.contact__link {
	transition: $transition;
	@include hover {
		.contact__icon {
			transform: scale(1.2);
		}
	}
}

.contact__icon {
	font-size: 60px;
	color: $black;
	transition: $transition;
}