
.footer {
	width: 100%;
	padding: 30px 0;
	width: 100%;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copy {
	font-size: 20px;
	display: flex;
	align-items: center;
}

.footer__icon {
	margin-right: 10px;
	font-size: 22px;
	transition: $transition;
}

.footer__btn {
	background: $seashell;
	border: none;
	color: $black;
	font-family: $font-default;
	padding: 10px 12px;
	border-radius: 50%;
	font-weight: $medium;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
	transition: $transition;
	.footer__icon {
		margin-right: 0;
		font-size: 18px;
		line-height: 18px;
	}
	@include hover {
		background-color: $lavender;
		.footer__icon {
			color: $seashell;
		}
	}
}