.btn {
	font-family: $font-default;
	font-weight: $medium;
	letter-spacing: 0.06em;
	padding: 10px 22px;
	border-radius: $border-radius;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all $transition;
	@media screen and (max-width: 768px){
		width: 100%;
		text-align: center;
	}
}

.btn--primary {
	color: $black;
	border: 1px solid $lavender;
	background: $lavender;
	@include hover {
		background: $seashell;
		border-color: $seashell;
	}
}

.btn--primary-dark {
	color: $seashell;
	border: 1px solid $black;
	background: $black;
	@include hover {
		background: $seashell;
		border-color: $seashell;
		color: $black;
	}
}

.btn--secondary {
	border: 1px solid $lavender;
	color: $lavender;
	@include hover {
		color: $seashell;
		border-color: $seashell;
	}
}

.btn--secondary-dark {
	border: 1px solid $black;
	color: $black;
	@include hover {
		color: $seashell;
		border-color: $black;
		background: $black;
	}
}

.btn--icon {
	width: 40px;
	padding: 10px;

	.btn__icon {
		margin-right: 0;
	}

	@include hover {
		.icon {
			transform: scale(1.2);
		}
	}
}

.btn__icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.icon {
	width: 100%;
	transition: all $transition;
}