// -- contact
.contact {
    width: 100%;
    padding: 3.3333% 0;
    @include media-breakpoint-down(sm) {
        padding: 3rem 0;
    }
}

.contact__content {
    @include flex-container(column, center, center);
}

.contact__title {
    font-family: $font-accent;
    margin-bottom: 2rem;
    text-align: center;
}

.contact__text {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: center;
}

.contact__list {
    text-align: center;
}

.contact__item {
    margin-bottom: 1rem;
}

.contact__link {
    font-size: 2.1rem;
    font-family: $font-accent;
    color: $grey;
    transition: color $transition;
    @include hover {
        color: $black;
    }
}