// -- header
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 0;
	.btn {
		position: relative;
		z-index: 30;
	}
}

.header__content {
	@include flex-container(row, space-between, center);
}

.header__home {
	color: $black;
	text-decoration: none;
	position: relative;
	left: 3.333%;
	z-index: 30;
}

.header__home-text {
	font-family: $font-accent;
	font-size: 24px;
	line-height: 1;
}

.header__row {
	@include flex-container(row, space-between, center);
	gap: 40px;
	position: relative;
	right: 3.333%;
}

.nav--active {
	.nav__menu-icon-line {
		&:first-child {
			transform: translate(-0.1rem) rotate(-45deg);
		}
		&:nth-child(2) {
			transform: translateY(0.3rem) scaleX(0);
		}
		&:nth-child(3) {
			transform: translate(-0.1rem,0.7rem) rotate(45deg);
		}
	}
	.nav__list {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%);
	}
	.nav__link {
		transform: translateY(0);
		opacity: 1;
	}
}

.nav__menu {
	font-family: $font-default;
	color: $black;
	font-size: 13px;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 30;
}

.nav__menu-icon {
	position: relative;
    display: inline-block;
    width: 1rem;
    height: 0.9rem;
	pointer-events: none;
    margin-left: 1rem;
}

.nav__menu-icon-line {
	pointer-events: none;
	position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $black;
	transition: transform .3s ease-in-out,background-color .3s ease-in-out .15s;
	&:first-child {
		transform-origin: right center;
	}
	&:nth-child(2) {
		transform: translate(0.14rem,0.3rem) scaleX(.7);
	}
	&:nth-child(3) {
		transform: translateY(0.6rem);
    	transform-origin: right center;
	}
}

.nav__list {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	width: 100%;
	height: 100vh;
	height: 100svh;
	background-color: $background-secondary;
	z-index: 20;
	padding: 90px 3.3333%;
	opacity: 0;
	visibility: hidden;
	transition: transform 0.5s ease-in-out, opacity 0.25s ease-in-out, visibility 0.5s ease-in-out;
	@include flex-container(column, center, flex-start);
}

.nav__item {
	margin-bottom: 0.5rem;
	color: $grey;
	position: relative;
	@include transition(all);
	overflow: hidden;
	line-height: 1;
	width: 100%;
	@include hover {
		.nav__link {
			color: $black;
		}
	}
}

.nav__link {
	display: block;
	width: 100%;
	padding: 40px 40px 40px 0;
	font-size: 40px;
	letter-spacing: -0.02rem;
	font-weight: $light;
	color: $grey;
	transform: translateY(100%);
	opacity: 1;
	cursor: pointer;
	transition: opacity $transition, transform $transition-cubic;
	&--first {
		transition-delay: 0.5s;
	}
	&--second {
		transition-delay: 0.75s;
	}
	&--third {
		transition-delay: 1s;
	}
}