.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 100px;
}

.list__item {
    margin-bottom: 30px;
    font-size: 26px;
    display: flex;
    align-items: center;
    font-weight: $medium;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.list__icon {
    color: $seashell;
    margin-right: 15px;
}