// -- services
.services {
    width: 100%;
    padding: 6rem 0 3.3333%;
    @include media-breakpoint-down(sm) {
        padding: 6rem 0 0;
    }
}

.services__title {
    font-family: $font-accent;
    padding: 0 1rem;
}
