// -- services
.services {
    width: 100%;
    padding: 6rem 0 3.3333%;
    @include media-breakpoint-down(sm) {
        padding: 6rem 0 0;
    }
}

.services__title {
    font-family: $font-accent;
    padding: 0 1rem;
}

.services__description {
	max-width: 40rem;
	margin: 3rem auto;
	text-align: center;
	padding: 0 2rem;
	font-size: 1.2rem;
	line-height: 1.3rem;
	span {
		font-family: $font-accent;
	}
	@include media-breakpoint-down(sm) {
		margin: 4rem auto;
	}
}