.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background-color: $background;
	transition: all $transition-cubic;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader--dark {
	background-color: $black;
	.loader__text {
		color: $white;
	}
}

.loader__text {
	font-family: $font-accent;
	color: $black;
	transition: all $transition-cubic;
	font-size: 1.3rem;
}