// -- variables

// fonts
$font-default: 'Comfortaa', sans-serif;
$font-accent: 'Young Serif', serif;

$light: 300;
$regular: 400;

// colors
$white: #fff;
$black: #000;
$grey: #666;
$softblue: #9dc1d9;
$lavender: #c7a9e6;
$mint-green: #a1e2b5;
$peach: #f5c7b4;
$pale-yellow: #ffe8a1;
$rose-quartz: #f3b0c3;
$sand-beige: #dbcab4;

$background: #f1eee9;

// transition
$transition: 250ms ease-in;

$border-radius: 30px;