a,
button {
  font-family: $font-default;

  &:focus {
    border: 1px dashed rgba($black, 0.5);
  }
}
.btn {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 25px;
  color: $dark-purple;
  transition: $transition;
  border: 1px solid $lavender;
  background-color: $lavender;
  border-radius: 50px;
  &:hover {
    background-color: transparent;
    color: $lavender;
  }
}
.btn--light {
  background-color: transparent;
  color: $sand;
  border: 1px solid $sand;
  &:hover {
    background-color: $sand;
    color: $dark-purple;
  }
}
.link {
  color: $sand;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: lowercase;
  transition: $transition;
  &:hover {
    color: $orange;
  }
}