* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: $font-default;
    background-color: $black;
    scroll-behavior: smooth;
}

ul li,
ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrap {
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.sr-only {
    @include no-display;
}