* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-default;
	color: $sand;
	background-color: $black;
	scroll-behavior: smooth;
	position: relative;
}

ul li,
ol li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.wrap {
	max-width: 1320px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.sr-only {
	@include no-display;
}

.section {
	min-height: 100vh;
	padding: 60px 0;
}

.section--color {
	margin: 0 auto;
	border-radius: $border-radius;
	overflow: hidden;
	width: calc(100% - 32px);
	color: $black;
}

.overflow-hidden {
	overflow: hidden;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}