h1, h2, h3, h4, h5, h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-default;
	margin-bottom: 20px;
	line-height: 120%;
	font-weight: $xblack;
}

.h1 {
	color: $lavender;
	font-size: 80px;
	@media screen and (max-width: 768px) {
		font-size: 40px;
	}
}

.h2 {
	font-size: 60px;
	@media screen and (max-width: 768px) {
		font-size: 30px;
	}
}

.text {
	font-size: 24px;
	font-weight: $regular;
	margin: 10px 0;
	max-width: 680px;
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
}