// fonts
$font-default: 'Montserrat', sans-serif;

$regular: 400;
$medium: 500;

// colors
$white: #fff;
$black: #1c1b1b;
$lavender: #dbd1e7;
$sand: #ebe5d3;
$seashell: #f8f5f3;

// transition
$transition: 250ms cubic-bezier(.17,.67,.83,.67);