// fonts
$font-default: 'Poppins', sans-serif;

$thin: 100;
$xlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$xtra: 800;
$xblack: 900;

// colors
$white: #fff;
$black: #0c0b0b;
$lavender: #c196f5;
$sand: #ebe5d3;
$seashell: #f8f5f3;

// transition
$transition: 250ms cubic-bezier(.17,.67,.83,.67);

$border-radius: 18px;