.portfolio {
  width: 100%;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  .wrap{
    .mark {
      right: 150px;
      left: auto;
      top: 150px;
      transform: scale(1.2);
    }
  }
}
.portfolio__title {
  padding: 0 0 50px;
}
.portfolio__content {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  padding: 60px 0;
  &:not(:last-of-type) {
    margin-bottom: 120px;
  }
}
.item--reverse {
  flex-direction: row-reverse;
  border-right: none;
  .item__info {
    padding: 50px 50px 50px 0;
  }
  .item__img-wrap {
    right: -100px;
    left: auto;
  }
}
.item__col {
  flex: 1 1 50%;
  max-width: 50%;
}
.item__img-wrap {
    position: absolute;
    height: auto;
    mix-blend-mode: overlay;
    width: 50vw;
    overflow: hidden;
    border-radius: 20px;
    transform: translateY(-50%);
    top: 50%;
    left: -100px;
    max-width: 700px;
}
.item__img {
  max-width: 100%;
}
.item__info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.item__title {
  color: $orange;
  font-weight: 500;
  margin-bottom: 20px;
}
.item__text {
  color: $sand;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
.item__tech {
  margin: 15px 0;
}
.item__tech-title {
  color: $sand;
  font-size: 16px;
  font-weight: 500;
}
.item__tech-list {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.item__tech-item {
  background-color: $lavender-dark;
  color: $sand;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 6px;
}
.item__btn-wrap {
  display: flex;
  gap: 20px;
}