.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all $transition-cubic;
	opacity: 0;
	z-index: 99;
	@include media-breakpoint-up(md) {
		padding: 3rem;
	}
	@include media-breakpoint-down(sm) {
		padding: 1.5rem;
	}
}

.header--dark {
	background-color: $black;
	.header__text,
	.header__link,
	.header__home {
		color: $white;
	}
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__home {
	font-family: $font-accent;
	color: $black;
	transition: all $transition-cubic;
	@include hover {
		opacity: 0.8;
	}
}

.header__row {
	display: flex;
	align-items: center;
	@include media-breakpoint-up(lg) {
		gap: 4rem;
	}
	@include media-breakpoint-down(lg) {
		gap: 2rem;
	}
}

.header__text {
	@include media-breakpoint-up(md) {
		display: flex;	
		align-items: center;
		gap: 8px;
		font-size: 12px;
		text-transform: uppercase;
		color: $black;
		transition: all $transition-cubic;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.header__text-dot {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: $green;
}

.header__link {
	color: $black;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 12px;
	transition: all $transition-cubic;
	svg {
		width: 0.75rem;
		height: 0.75rem;
		transform: rotate(-45deg);
		transition: all $transition-cubic-fast;
	}
	@include hover {
		svg {
			transform: rotate(0deg);
		}
	}
	@media screen and (max-width: 415px) {
		display: none;
	}
}