* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  background-color: $lavender
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrap {
  max-width: 1340px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}