$container-width: 1230px;
$bp-medium: 990px;
$bp-small: 768px;

$--small: $bp-small;
$--medium: $bp-medium;

$--small: $bp-small;
$--medium: $bp-medium;

//COLORS
$lavender: #dbd1e7;
$lavender-dark: #724E91;
$sand: #ebe5d3;
$light: #f8f5f3;
$light-2: #FBF7F4;

$white: #fff;
$black: #000;

//FONTS
$font-default: 'Montserrat', sans-serif;

$transition: 300ms ease-in-out;