$bp-medium: 992px;
$bp-small: 768px;

$--small: $bp-small;
$--medium: $bp-medium;

$--small: $bp-small;
$--medium: $bp-medium;

//COLORS
// $lavender: #dbd1e7;
$lavender: #c39df1;
$eggshell: #ebe5d3;
$sand: #f8f5f3;

$dark-purple: #1b1a21;
$grey: #CAC4CE;
$linen: #F7ECE1; 

$white: #fff;
$black: #000;

//FONTS
$font-default: 'Montserrat', sans-serif;

$transition: 300ms ease-in-out;