$bp-medium: 992px;
$bp-small: 768px;

$--small: $bp-small;
$--medium: $bp-medium;

$--small: $bp-small;
$--medium: $bp-medium;

//COLORS
$lavender-light: #dbd1e7;
$lavender: #c39df1;
$lavender-dark: #5c3f7f;
$green: #9DF1C3;
$orange: #F1C39D;
$sand: #f8f5f3;

$dark-purple: #1b1a21;
$grey: #CAC4CE;

$white: #fff;
$black: #000;

//FONTS
$font-default: 'Montserrat', sans-serif;

$transition: 300ms ease-in-out;